In [1]:
from utils import prepare_dataset

labels = ['classification', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid', 'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG']
# Chamada da função prepare_dataset para preparar o dataset
prepare_dataset(path_origin='..\euthyroid_sick_syndrome\datasets\euthyroid\euthyroid.data', columns_labels=labels, path_destiny='..\euthyroid_sick_syndrome\datasets\euthyroid\euthyroid.csv')

In [6]:
import pandas as pd 
dataset = pd.read_csv('..\euthyroid_sick_syndrome\datasets\euthyroid\euthyroid.csv')
dataset.head()

,classification,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,sick-euthyroid,45,F,f,f,f,f,f,f,f,...,y,1,y,82,y,0.73,y,112,n,?
1,sick-euthyroid,64,F,f,f,f,f,f,f,f,...,y,1,y,101,y,0.82,y,123,n,?
2,sick-euthyroid,56,M,f,f,f,f,f,f,f,...,y,0.80,y,76,y,0.77,y,99,n,?
3,sick-euthyroid,78,F,t,f,f,f,t,f,f,...,y,0.30,y,87,y,0.95,y,91,n,?
4,sick-euthyroid,80,M,f,f,f,f,f,f,f,...,y,0.80,y,105,y,0.88,y,120,n,?

In [7]:
dataset['classification'] = dataset['classification'].astype("category").cat.codes.values    # df['classificação'] labels into numbers 0 is not sick and 1 is sick
dataset.drop(['TBG', 'TBG_measured'], axis=1, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3162 entries, 0 to 3161
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   classification             3162 non-null   int8
 1   age                        3162 non-null   object
 2   sex                        3162 non-null   object
 3   on_thyroxine               3162 non-null   object
 4   query_on_thyroxine         3162 non-null   object
 5   on_antithyroid_medication  3162 non-null   object
 6   thyroid_surgery            3162 non-null   object
 7   query_hypothyroid          3162 non-null   object
 8   query_hyperthyroid         3162 non-null   object
 9   pregnant                   3162 non-null   object
 10  sick                       3162 non-null   object
 11  tumor                      3162 non-null   object
 12  lithium                    3162 non-null   object
 13  goitre                     3162 non-null   object
 14  TSH_measured               3162 non-null   object
 15  TSH                        3162 non-null   object
 16  T3_measured                3162 non-null   object
 17  T3                         3162 non-null   object
 18  TT4_measured               3162 non-null   object
 19  TT4                        3162 non-null   object
 20  T4U_measured               3162 non-null   object
 21  T4U                        3162 non-null   object
 22  FTI_measured               3162 non-null   object
 23  FTI                        3162 non-null   object
dtypes: int8(1), object(23)
memory usage: 571.4+ KB

In [10]:
dataset.to_csv('..\euthyroid_sick_syndrome\datasets\euthyroid\euthyroid_clean.csv', index=False)