Formatando o dataset 
 - Adicionando os headers das colunas

In [22]:
from euthyroid_sick_syndrome.utils import prepare_dataset

labels = ['classification', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid', 'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG']
# Chamada da função prepare_dataset para preparar o dataset
prepare_dataset(path_origin='/home/vinicius/UFERSA/cilab/euthyroid_sick_syndrome/euthyroid_sick_syndrome-1/euthyroid_sick_syndrome/datasets/euthyroid/euthyroid.data', columns_labels=labels, path_destiny='/home/vinicius/UFERSA/cilab/euthyroid_sick_syndrome/euthyroid_sick_syndrome-1/euthyroid_sick_syndrome/datasets/euthyroid/euthyroid.csv')

Abrindo o dataset agora com os headers nas colunas

In [23]:
import pandas as pd 
import numpy as np
dataset = pd.read_csv('/home/vinicius/UFERSA/cilab/euthyroid_sick_syndrome/euthyroid_sick_syndrome-1/euthyroid_sick_syndrome/datasets/euthyroid/euthyroid.csv')
dataset.head()

,classification,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,sick-euthyroid,45,F,f,f,f,f,f,f,f,...,y,1,y,82,y,0.73,y,112,n,?
1,sick-euthyroid,64,F,f,f,f,f,f,f,f,...,y,1,y,101,y,0.82,y,123,n,?
2,sick-euthyroid,56,M,f,f,f,f,f,f,f,...,y,0.80,y,76,y,0.77,y,99,n,?
3,sick-euthyroid,78,F,t,f,f,f,t,f,f,...,y,0.30,y,87,y,0.95,y,91,n,?
4,sick-euthyroid,80,M,f,f,f,f,f,f,f,...,y,0.80,y,105,y,0.88,y,120,n,?

Removendo as colunas com dados faltantes 
- O método *drop()* é utilizado.

In [24]:
dataset['classification'] = dataset['classification'].astype("category").cat.codes.values    # df['classificação'] labels into numbers 0 is not sick and 1 is sick
dataset.drop(['TBG', 'TBG_measured'], axis=1, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3162 entries, 0 to 3161
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   classification             3162 non-null   int8
 1   age                        3162 non-null   object
 2   sex                        3162 non-null   object
 3   on_thyroxine               3162 non-null   object
 4   query_on_thyroxine         3162 non-null   object
 5   on_antithyroid_medication  3162 non-null   object
 6   thyroid_surgery            3162 non-null   object
 7   query_hypothyroid          3162 non-null   object
 8   query_hyperthyroid         3162 non-null   object
 9   pregnant                   3162 non-null   object
 10  sick                       3162 non-null   object
 11  tumor                      3162 non-null   object
 12  lithium                    3162 non-null   object
 13  goitre                     3162 non-null   object
 14  TSH_measured               3162 non-null   object
 15  TSH                        3162 non-null   object
 16  T3_measured                3162 non-null   object
 17  T3                         3162 non-null   object
 18  TT4_measured               3162 non-null   object
 19  TT4                        3162 non-null   object
 20  T4U_measured               3162 non-null   object
 21  T4U                        3162 non-null   object
 22  FTI_measured               3162 non-null   object
 23  FTI                        3162 non-null   object
dtypes: int8(1), object(23)
memory usage: 571.4+ KB

Verificando a quantidade de dados com ?

In [25]:
dataset[dataset == '?'].count()

classification                 0
age                          446
sex                           73
on_thyroxine                   0
query_on_thyroxine             0
on_antithyroid_medication      0
thyroid_surgery                0
query_hypothyroid              0
query_hyperthyroid             0
pregnant                       0
sick                           0
tumor                          0
lithium                        0
goitre                         0
TSH_measured                   0
TSH                          467
T3_measured                    0
T3                           695
TT4_measured                   0
TT4                          249
T4U_measured                   0
T4U                          248
FTI_measured                   0
FTI                          247
dtype: int64

Substituindo os dados faltantes pela média da coluna

In [26]:
mean_tsh_1 = dataset['TSH'].loc[(dataset['TSH'] != '?') & (dataset['classification'] ==1)].astype('float').mean()
mean_tsh_0 = dataset['TSH'].loc[(dataset['TSH'] != '?') & (dataset['classification'] ==0)].astype('float').mean()
mean_t3_1 = dataset['T3'].loc[(dataset['T3'] != '?') & (dataset['classification'] ==1)].astype('float').mean()
mean_t3_0 = dataset['T3'].loc[(dataset['T3'] != '?') & (dataset['classification'] ==0)].astype('float').mean()
mean_tt4_1 = dataset['TT4'].loc[(dataset['TT4'] != '?') & (dataset['classification'] ==1)].astype('float').mean()
mean_tt4_0 = dataset['TT4'].loc[(dataset['TT4'] != '?') & (dataset['classification'] ==0)].astype('float').mean()
mean_t4u_1 = dataset['T4U'].loc[(dataset['T4U'] != '?') & (dataset['classification'] ==1)].astype('float').mean()
mean_t4u_0 = dataset['T4U'].loc[(dataset['T4U'] != '?') & (dataset['classification'] ==0)].astype('float').mean()
mean_fti_1 = dataset['FTI'].loc[(dataset['FTI'] != '?') & (dataset['classification'] ==1)].astype('float').mean()
mean_fti_0 = dataset['FTI'].loc[(dataset['FTI'] != '?') & (dataset['classification'] ==0)].astype('float').mean()
mean_fti_1 = dataset['FTI'].loc[(dataset['FTI'] != '?') & (dataset['classification'] ==1)].astype('float').mean()
mean_age_0 = dataset['age'].loc[(dataset['age'] != '?') & (dataset['classification'] ==0)].astype('int').mean()
mean_age_1 = dataset['age'].loc[(dataset['age'] != '?') & (dataset['classification'] ==1)].astype('int').mean()




dataset.loc[(dataset['TSH']== '?') & (dataset['classification'] ==0), 'TSH'] = mean_tsh_0
dataset.loc[(dataset['TSH']== '?') & (dataset['classification'] ==1), 'TSH'] = mean_tsh_1
dataset.loc[(dataset['T3']== '?') & (dataset['classification'] ==0), 'T3'] = mean_t3_0
dataset.loc[(dataset['T3'] =='?') & (dataset['classification'] ==1), 'T3'] = mean_t3_1
dataset.loc[(dataset['TT4'] =='?') & (dataset['classification'] ==0), 'TT4'] = mean_tt4_0
dataset.loc[(dataset['TT4'] == '?') & (dataset['classification'] ==1), 'TT4'] = mean_tt4_1
dataset.loc[(dataset['T4U'] == '?') & (dataset['classification'] ==0), 'T4U'] = mean_t4u_0
dataset.loc[(dataset['T4U'] == '?') & (dataset['classification'] ==1), 'T4U'] = mean_t4u_1
dataset.loc[(dataset['T4U'] == '?') & (dataset['classification'] ==0), 'T4U'] = mean_t4u_0
dataset.loc[(dataset['age'] == '?') & (dataset['classification'] ==1), 'age'] = mean_age_1
dataset.loc[(dataset['age'] == '?') & (dataset['classification'] ==0), 'age'] = mean_age_0
dataset.loc[(dataset['FTI'] == '?') & (dataset['classification'] ==1), 'FTI'] = mean_fti_1
dataset.loc[(dataset['FTI'] == '?') & (dataset['classification'] ==0), 'FTI'] = mean_fti_0
dataset['age'] = dataset['age'].astype('int')

Verificando os dados de gênero faltantes

In [28]:
dataset['sex'].count()

3162

In [29]:
print((dataset['sex']=='F').sum())
print((dataset['sex']=='M').sum())

2182
907

In [30]:
# Falta 73 dados. Os faltantes serão substituidos pela moda. 
dataset['sex'] = dataset['sex'].replace('?', 'F')

In [31]:
# verificando a quantidade de dados com ?
dataset[dataset == '?'].count()

classification               0
age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
thyroid_surgery              0
query_hypothyroid            0
query_hyperthyroid           0
pregnant                     0
sick                         0
tumor                        0
lithium                      0
goitre                       0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
dtype: int64

Salvando o dataset limpo

In [32]:
dataset.to_csv('..\euthyroid_sick_syndrome\datasets\euthyroid\euthyroid_clean.csv', index=False)